<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body style="background-color:#ffffcc">
<h1 align="center"><b>CONTACT US</b></h1>
<br><br>
<h2 align="center"><b>Execom members 2017-2018</b></h2><br><br>
<p align="center"><b>Chairman:</b> Akshay S <br><br>
<b>Vice chairman:</b> Anush Kumar,Jasna Jafer <br><br>
<b>Secretary:</b> Hima Bindu <br><br>
<b>Link Representative: </b>Priyanka  <br><br>
<b>Web Master:</b> Arjun Muraleedharan <br><br>
<b>CS Chair:</b> Arundhati Kurup<br><br>
<b>RAS chair:</b> Raoof Naushad <br><br>
<b>WIE Chair:</b> Brahmadatha <br><br></p>
</body>
</html>