<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
<div class="row">
	<div class="col-md-12">
		
		<nav class="navbar navbar-inverse">
     <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <li class="active">
        <a href="#" class="navbar-brand">Events</a> </li>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
       <ul class="nav navbar-nav">
       <li ><a href='/gallery'>Gallery</a></li>
        <li><a href='/contact'>Contact us</a></li>
        
        </ul>
      </div>
      </div>
    </nav>
	</div>
</div>
<h1 style="text-align: center;">Computer Society</h1>

<div class="row">
  <div class="col-md-3">
    <div class="thumbnail" style="height: 525px">
      <img src="h1.jpg" style="width: 100%;height: 250px" >
      <div class="caption">
        <h3>CodeLab -X</h3>
        <p style="text-align: justify;">IEEE Computer society SCTSB conducted codelab -X (CodeLab eXtended ) for 6th and 7th grade students of Sisuvihar UPS , a government aided school in Trivandrum.A new initiative to spread the fun and magic of computers and technology among school students .All the digital enthusiasts come under one roof to transform the space of learning and accelerate digital literacy .
Learn,Explore and Inspire with Codelab X</p>
        
      </div>
    </div>
  </div>

<div class="col-md-3">
    <div class="thumbnail" style="height: 525px">
      <img src="h2.jpg" style="width: 100%;height: 250px">
      <div class="caption">
        <h3>23/23</h3>
        <p style="text-align: justify;"> IEEE Computer Society SCTSB presents 23/23 - a technology awareness initiative based on the IEEE CS 2022 report .
23 Technologies that would revolutionize our world in the year 2022 will be uploaded with one technology each week .
Stay informed , Stay amazed !
 </p>
        
      </div>
    </div>
  </div>





  <div class="col-md-3">
    <div class="thumbnail" style="height: 525px">
      <img src="h3.jpg" style="width: 100%;height: 250px" >
      <div class="caption">
        <h3>PIXEL 1.0</h3>
        <p style="text-align: justify;">IEEE computer society chapter ,launched PIXEL 1.0.A unique techno-graphy competition for all photography enthusiasts and technology lovers. Grab the opportunity and give yourself a chance to win prizes worth 2k offered by our title sponsor- PARAMOUNT STUDIOS!The topics were :<br>
1)Technology in daily life <br>
2)Vintage Tech</p>
        
      </div>
    </div>
  </div>



<div class="col-md-3">
    <div class="thumbnail" style="height: 525px">
      <img src="h4.jpg" style="width: 100%;height: 250px">
      <div class="caption">
        <h3>CodeLab</h3>
        <p style="text-align: justify;">Computer Society of the IEEE SCT SB had conducted a Code Lab in C on Sunday, the 9th of March 2017, for the first year Computer Science students of the SB. The 4 hour session was conducted by the second year IEEE members, who also took up the role of mentors for their juniors, for the day. 
</p>
        
      </div>
    </div>
  </div>








</div>




</body>
</html>