<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
<div class="row">
<div class="col-md-12"></div>	
<nav class="navbar navbar-inverse">
 <div class="container-fluid"> <div class="navbar-header">
  <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
   <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span> <span class="icon-bar"></span>
     <span class="icon-bar"></span> </button>
     <li class="active">
      <a href="#" class="navbar-brand">Events</a></li>
       </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
          <ul class="nav navbar-nav">
            <li ><a href='/gallery'>Gallery</a></li>
            <li><a href='/contact'>Contact us</a></li>
          </ul> 
        </div>
  </div>
</nav>
</div>

<h1 align="center">
EC Events</h1>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail"  style="height: 525px">
      <img src="h11.jpg"  style="width: 100%;height: 250px">
      <div class="caption">
        <h3>Arduino workshop</h3>
        <p style="text-align: justify;">In accordance with the Arduino Day which is celebrated on April 1 every year, IEEE SCT SB conducted a free Arduino Workshop for its first time IEEE members. Arduino, is an open source electronics prototyping platform based on easy to use hardware, intended for anyone interested in creating interactive objects. It was a great hands on experience for the students who got the opportunity to work with Arduino Uno, a microcontroller board based on ATMEG 328P. </p>
        
      </div>
    </div>
  </div>




  <div class="row">
  <div class="col-md-4">
    <div class="thumbnail"  style="height: 525px">
      <img src="h20.jpg"  style="width: 100%;height: 250px">
      <div class="caption">
        <h3>AIR Internship</h3>
        <p style="text-align: justify;"> All India Radio(AIR) has been serving to inform, educate & entertain the masses since it's inception, truly living up to its motto - 
'Bahujan Hitaya : Bahujan Sukhaya'.A group of 21 students got a rare opportunity to do a 1 week internship in AIR,Trivandrum.It included a visit to their studio in Vazhuthacaud and their transmitting stations around the city.</p>
        
      </div>
    </div>
  </div>


 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail"  style="height: 525px">
      <img src="h9.jpg"  style="width: 100%;height: 250px">
      <div class="caption">
        <h3>Robotics Workshop</h3>
        <p style="text-align: justify;">IEEE SCT SB in association with CULT A WAY 2015 organised a Robotics Workshop. The workshop covered from the basics of electronics to micro controllers and its various applications HANDS ON. The workshop was taken by Mr. Sunil Paul ,CTO and co founder of TechJeeva,one of the fast growing research and development company with its own online store front and sales distribution network for robotic products.</p>
        
      </div>
    </div>
  </div>





</body>
</html>